<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
</head>

<body>
    <h1>WELCOME PAGE</h1>
    <p>This page is created using Flask</p>
    <p>Current time: {{ current_time }} </p>
    <h2>COMMITED CHANGE IN THE SRAJAN BRANCH</h2>
    <h2>ANOTHER COMMIT</h2>
    <h2>HI BRANCH SRAJAN</h2>
    <h2>bye BRANCH SRAJAN</h2>

    <form action="/submit" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <br>
        <button type="submit">Submit</button>
    </form>

</body>
<style>
    body {
        background-color: black;
        color: white;
    }
</style>

</html>