<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST</title>
</head>

<body>
    <h1>To DO LIST </h1>

    <form action="/submit_todo" method="post">
        <label for="item">Item Name</label>
        <input type="text" id="item" name="item">
        <br>
        <label for="Desc">Item Description</label>
        <input type="text" id="Desc" name="Desc">
        <br>
        <button type="submit">Submit</button>
    </form>

</body>

</html>