<!DOCTYPE html>
<html>

<head>
    <title>To Do Page</title>
</head>

<body>

    <h1>Create Todo</h1>

    <form action="/submittodoitem" method="POST">
        <label>Item Name</label><br>
        <input type="text" name="itemName" required><br><br>

        <label>Item Description</label><br>
        <input type="text" name="itemDescription" required><br><br>

        <label>Item ID</label><br>
        <input type="text" name="itemID"><br><br>
        
        <label>Item UUID</label><br>
        <input type="text" name="itemUUID"><br><br>
        
        <button type="submit">Submit</button>
    </form>

</body>

</html>